#body{
    display:flex;
    max-width: 1200px;
    height:fit-content;
    justify-content: space-around;
    align-items: center;
    margin : 0 auto;
}

#brand_details{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:0; 
}

#brand_name{
    /* text-align: left; */
    line-height: 90px;
    font-weight: 800px;
    font-size: 90px;
     
} 

#brand_info p{
    font-weight: 600;
    max-width: 400px;
    color:#605e5e;
    margin:0;
}

#brand_btn{
    display: flex;
    gap:40px;

}

#brand_btn button{
    font-size: 24px;
}
#category{
    all:unset;
    padding:6px 16px;
    background: transparent;
    background-color: white;
    border: 1px solid black;
    height:32px;
    color:605e5e;
    font-weight: 500;
}
#shop_now{
    all:unset;
    padding:6px 16px;
    background-color: red;
    height:32px;
    color:white;
    font-weight: 500;
}

#ecommerce_logo p{
    font-size: 14px;
    margin-bottom: 8px;
}

#brand_logo{
    display:flex;
    gap:16px;
}

@media only screen and (max-width: 1500px){
    #body{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    #brand_image{
        width:90%;
        height: fit-content;
        
        padding: 2%;
    }
    #brand_image img{
        
        width:100%;
        height: 40%;
        
    }
    #brand_details{
        width:90%;
        padding:2%;
        height: fit-content;
        gap:20px;
    }
    #brand_details #brand_info #brand_name{
        font-size: 50px;
        line-height: 60px;
        margin:0;
    }
    #brand_info p{
        margin:0;
        max-width:90%;
    }
}