
nav{
    display : flex;
    justify-content: space-between;
    max-width: 1280px;
    margin:0 auto;
    height:72px;
    align-items: center;
}

nav > ul{
    list-style-type: none;
    display:flex;
    gap:24px;
    width:333px;
    height: 24px;
}

nav button{
    all:unset;
    padding:6px 16px;
    background-color: red;
    height:32px;
    color:white;
    font-weight: 500;

}